<section>
 <section>
     <div>
     <h3 class="text-center">Transactions</h3>
     <div class="d-flex align-items-center">
        <%= button_to "+", new_category_path, method: :get, class: 'mx-2 btn btn-light border text-center' %>
        <div><p> Create new category </p></div>
     </div>
     </div>
     <% if @categories.exists? %>
          <% @categories.each do |category| %>
           <%= link_to category_path(category.id), method: :get do %> 
            <div class='card m-2 p-3'>
              <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-center">
                  <%= image_tag category.icon rescue image_tag 'https://img.icons8.com/fluency/48/000000/diversity.png' %>
                  <span>
                    <p><%= category.name %></p>
                    <small><%= category.created_at.to_date.strftime("%d %b, %Y") %></small>
                  </span>
                </div>
                  <p class='strong'>$<%= category.deals.sum(:amount) || '0.00'%></p>
              </div>
            </div>
          <% end %>
        <% end %>
 
   
   <% else %>
          <p>No Category Added yet</p> 
      <% end %>
  <div>
</section>