<section class="categories_controllers">
  <header class="input-container">
    <nav>
      <ul class='links'>
        <li>
        <%= link_to categories_path do %>
          <i class="fa fa-arrow-left"></i>
          <% end %>
        </li>
        <li>
          DETAILS
        </li>
        <li>
          <i class="fa fa-bars"></i>
        </li>
      </ul>
    </nav>
  </header>
 <section class="category-lists-wrapper details ">
    <div class='desc'>
      <%= image_tag(@category.icon, class:'list_image') %>
      <span>
        <h2><%= @category.name %></h2>
      </span>
    </div>
    <hr>
    <% @transactions.each do |transaction| %> 
    <div class='transaction'>
      <span>
        <h3><%= transaction.name %></h3>
        <small><%= transaction.created_at.to_date.strftime("%d %b, %Y") %></small>
      </span>
      <span>
         <%= button_to "Remove", category_deal_path(@category,transaction), method: :delete, class: 'delete-transaction' %>
      </span>
    </div>
    <hr>
    
   <% end %>
   <div class='payment'>
      <h4>TOTAL PAYMENT</h4>
      <p>$<%= @category.deals.sum(:amount) || '0.00' %></p>
    </div>
    <%= button_to "Delete Category", category_path, method: :delete, class: 'category-btn' %>

  </section> 
  <div class='category-footer'>
    <%= button_to "Add New Transaction", new_category_deal_path(@category), method: :get, class: 'category-btn' %>
  </div>
</section>